<body>
    <div class="container">
        <div class="header">
            <h1>Belts Shoes</h1>
            <button class="material-icons md-24" onclick=""> shopping_cart</button>
        </div>
        
        <div class="bild_nike">
            <img src="img/perk_shoe.png" alt="PerkY Shoe">
        </div>

        <div class="info">
            <div class="nam">
                <h2>PerkY Shoe</h2>
            </div>
            <div class="pris">
                <h2>500kr</h2>
            </div>
            <diV class="storlek">
                <h2>Storlek</h2>
            </div>
            <div class="nmr">
                <a href=""><button>40</button></a>
            </div>
        </div>

        <div class="beskrivning">
            <h1>Beskrivning:</h1>
        </div>
    </div>
</body>