<body>
    <div class="container">
        <div class="header">
            <h1>Skoaffär</h1>
        </div>
        <div class="bild">
        
        </div>
        
        <div class="navherr">
        
        </div>
        
        <div class="navdam">
        
        </div>
        
        <div class="content">
        </div> 
        
            <div class="sko1">
                <h2>Sko1</h2>
                <button type="button" onclick="">Click Me!</button>
            </div>
        
            <div class="sko2">
                <h2>Sko2</h2>
            </div>
            
            <div class="sko3">
                <h2>Sko3</h2>
            </div>
    </div>


</body>
