<body>
    <div class="container">
        <div class="header">
            <h1>Skoaffär</h1>
            <button class="material-icons md-24" onclick=""> shopping_cart</button>
        </div>
        <div class="bild">
        
        </div>
        
        <div class="navherr">
            <div class="dropdown1">
                <button onclick="myFunction1()" class="dropbtn">Herr</button>
                <div id="myDropdown1" class="dropdown-content1">
                    <a href="#">Löparskor</a>
                    <a href="#">Fin skor</a>
                    <a href="#">Tofflor</a>
                </div>
            </div>
        </div>
        
        <div class="navdam">
             <div class="dropdown2">
                <button onclick="myFunction2()" class="dropbtn">Dam</button>
                <div id="myDropdown2" class="dropdown-content2">
                    <a href="#">Sneakers</a>
                    <a href="#">Sandaler</a>
                    <a href="#">Löparskor</a>
                </div>
            </div>
        </div>
        
        <div class="content">
            <div class="sko1">
                <h2>Sko1</h2>
                <button type="button" onclick="">100kr</button>
            </div>
        
            <div class="sko2">
                <h2>Sko2</h2>
                <button type="button" onclick="">250kr</button>
            </div>
            
            <div class="sko3">
                <h2>Sko3</h2>
                <button type="button" onclick="">799kr</button>
            </div>
        </div>    
    </div>
<script src="js/dropdownherr.js"></script>
<script src="js/dropdowndam.js"></script>

</body>